**/mongoose-data-modelling/node_modules
**/express-server/node_modules
**/MiddleWare-express/node_modules
**/mongodb-guide/node_modules
**/mongodb-guide/node_modules
**/mongodb-guide/mongoose-guide/node_modules
**/template-engine/node_modules
**/Serving-static-files/node_modules
